@charset "utf-8";


$text: hsl(0,0%,100%);
$scheme-main: hsl(0,0%,4%);
$body-background-color: $scheme-main;
$link-active:$text;

$panel-heading-background-color: $scheme-main;
$panel-heading-color: $text;
$text-strong: $text;
$table-background-color:$scheme-main;

$orange:orange;
$link-hover:$orange;


@import "../node_modules/bulma/bulma.sass";




$panel-border:1px solid $grey;

.panel{
    border: $panel-border;
}
.panel-heading{
    border-bottom: $panel-border;
}

#trade-app{
    padding: 15px;
}

.login-modal{

    .modal-card-head, .modal-card-body{
        background-color: $orange;
    }
}
