<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">


	<!-- Primary Meta Tags -->
<title>THIRM - Anonymous Fee-less Crypto Exchange</title>
<meta name="title" content="THIRM - Anonymous Fee-less Crypto Exchange">
<meta name="description" content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://thirm.com/">
<meta property="og:title" content="THIRM - Anonymous Fee-less Crypto Exchange">
<meta property="og:description" content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://thirm.com/">
<meta property="twitter:title" content="THIRM - Anonymous Fee-less Crypto Exchange">
<meta property="twitter:description" content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">
<meta property="twitter:image" content="">
	
	
  <title>THIRM</title>
</head>

<style>
table {
  font-size: 75%;
}
</style>

<body>
  <div id="trade-app">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://thirm.com">THIRM</a>
    </div>

    <div id="trade-app-navbar" class="navbar-menu">
      <div class="navbar-start">

        <a v-for="c in coins"
        v-bind:key="c.symbol"
        class="navbar-item"><span v-bind:id="c.symbol+'balance'">{{c.symbol}}</span></a>
        
      </div>
      <a v-for="c in altcoins" v-bind:key="c.symbol" v-bind:href="'?coin1=btc&coint2='+c.symbol"><button class="button is-small is-uppercase">BTC-{{c.symbol}}</button></a>
	      
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-danger" onclick="logout()">
              <strong>LOG OUT</strong>
            </a>
          </div>
        </div>
          <div class="navbar-item">
          <div class="buttons">
            <a class="button is-success" target=_blank href="https://github.com/therealmoney/thirm">
              <strong>GITHUB</strong>
            </a>
          </div>
        </div>

      </div>
    </div>
  </nav>
  <br>


  <div class="columns">
    <div class="column">

      <div class="box">
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select id="depositcoin">
                <option v-for="c in coins"
                v-bind:key="c.symbol">{{c.symbol}}</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded"> <input class="input" type="text" placeholder="Click to generate" id="depositspan"> </p>
          <p class="control"> <a onclick=deposit() class="button">Get Deposit Address </a> </p>
        </div>
      </div>


    </div>
    <div class="column">

      <div class="box">
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select id="pcoin">
                <option v-for="c in coins"
                v-bind:key="c.symbol">{{c.symbol}}</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Enter Address" id="paddress">
          </p>
          <p class="control is-expanded">
            <input class="input" type="number" placeholder="Enter Amount" id="pamount">
          </p>
          <p class="control">
            <a onclick=withdraw() class="button">
              Withdraw
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="columns">
    <div class="column">
	
	 <div class="box">
        <div id="chartdiv" style="height: 400px;"></div>
	</div>
	
		</div>
		
	    <div class="column">
	    <div class="box">
    TRADE HISTORY
    <table id="trade-history-table" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">ID</th>
          <th scope="col"><span class="coin1"></span></th>
          <th scope="col"><span class="coin2"></span></th>
		  <th scope="col">Rate</th>
          <th scope="col">Type</th>
        </tr>
        <tr v-for="record in trade_history" v-bind:key="record.tradeID">
          <td>{{record.trade_timestamp | timeago }}</td>
          <td>{{record.tradeID}}</td>
          <td>{{record.base_volume}}</td>
          <td>{{record.quote_volume}}</td>
          <td>{{record.price}}</td>
          <td>{{record.type}}</td>
        </tr>
      </thead>
    </table>
  </div>
  
  	</div>
	</div>
  
  


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
          <a v-for="c in altcoins" v-bind:key="c.symbol" v-bind:href="'?coin1=btc&coint2='+c.symbol"><button class="button is-small is-uppercase">BTC-{{c.symbol}}</button></a>
	      	
      </p>
    </div>
  </footer>

  
  </div>
  <script src="axios.min.js"></script>
  <script src="vue.js"></script>
  <script src="./vueapp/global-filters.js"></script>
  <script src="./vueapp/main.js"></script>
 
</body>

</html>
