<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Primary Meta Tags -->
    <title>THIRM - Anonymous Fee-less Crypto Exchange</title>
    <meta name="title" content="THIRM - Anonymous Fee-less Crypto Exchange">
    <meta name="description"
        content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thirm.com/">
    <meta property="og:title" content="THIRM - Anonymous Fee-less Crypto Exchange">
    <meta property="og:description"
        content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://thirm.com/">
    <meta property="twitter:title" content="THIRM - Anonymous Fee-less Crypto Exchange">
    <meta property="twitter:description"
        content="Thirm is crypto exchange with 0 % trading fees, bidding order book, anonymous trading, API access.">
    <meta property="twitter:image" content="">

    <title>THIRM</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link href="css/my-customized-bulma.css" rel="stylesheet" type="text/css">
</head>


<body>
    <div id="trade-app">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title is-uppercase">
                            THIRM
                        </p>
                    </div>

                </div>
                <div v-for="c in altcoins" v-bind:key="c.symbol" class="level-item has-text-centered">
                    <a v-bind:href="'?coin1=btc&coin2='+c.symbol"><button
                            class="button is-small is-uppercase">BTC-{{c.symbol}}</button></a>
                </div>


            </div>
            <div class="level-left">
                <div class="level-item has-text-centered">
                    <button class="button is-success" v-if="!wifKey" v-on:click="showLogin">
                        Login
                    </button>
                    <button class="button is-black" v-if="wifKey" v-on:click="logout">
                        Logout
                    </button>

                </div>
            </div>


        </nav>
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title is-uppercase">
                            <strong>{{coin1 + ' - ' + coin2}}</strong>
                        </p>
                        <p class="heading">
                            <!--TODO full name-->exchange
                        </p>
                    </div>

                </div>
                <div class="level-item has-text-centered" v-if="last_trade.price">
                    <div>
                        <p class="title is-uppercase">
                            <strong>{{last_trade.price + ' ' + coin2 }}</strong>
                        </p>
                        <p class="heading">
                            Last Trade
                        </p>
                    </div>

                </div>

            </div>


        </nav>

        <div class="columns">
            <div class="column depth-order-book-make-order-parent is-third-fifths">
                <div class="columns is-multiline">
                    <div class="column is-full depth-chart">
                        <div class="panel">
                            <p class="panel-heading">Depth Chart</p>

                            <div class="panel-block">
                                <div id="depth-chart" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column order-book">
                        <div class="panel">
                            <p class="panel-heading">Order Book</p>

                            <div class="panel-block">
                                <div class="tile is-ancestor">
                                    <div class="tile">
                                        <table id="bids-table" class="table  is-narrow is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Bids</th>
                                                    <th scope="col">Bids Sum</th>
                                                    <th scope="col">Rate</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="b in order_book.bids" v-bind:key="b.index">
                                                    <td>{{b.bid | fixedpoint4}}</td>
                                                    <td>{{b.bidssum | fixedpoint4}}</td>
                                                    <td>{{b.price | fixedpoint8}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tile">
                                        <table id="asks-table" class="table  is-narrow is-hoverable is-fullwidth">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Rate</th>
                                                    <th scope="col">Asks Sum</th>
                                                    <th scope="col">Asks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="a in order_book.asks" v-bind:key="a.index">
                                                    <td>{{a.price | fixedpoint8 }}</td>
                                                    <td>{{a.askssum | fixedpoint4 }}</td>
                                                    <td>{{a.ask | fixedpoint4 }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br />
                            </div>




                        </div>

                    </div>
                    <div class="column is-narrow">
                        <div class="" style="width: 300px;">
                            <div class="panel sidebar">
                                <div v-bind:class="{ 'is-blur': !wifKey }">


                                    <p class="panel-tabs">
                                        <a v-bind:class="{ 'is-active': orderType=='sell' }"
                                            v-on:click="orderType='sell'">SELL</a>
                                        <a v-bind:class="{ 'is-active': orderType=='buy' }"
                                            v-on:click="orderType='buy'">BUY</a>
                                    </p>
                                    <div class="panel-block">
                                        <div class="field">
                                            <p class="control amount coin1">
                                                <input class="input" type="text" v-model.number="coin1Amount"
                                                    placeholder="0.00">
                                                <span class="coin is-uppercase">
                                                    {{coin1}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel-block">
                                        <div class="field">
                                            <p class="control coin1-coin2-rate">
                                                <input class="input" type="text" v-model.number="coin1coin2rate"
                                                    placeholder="0.00">
                                                <span class="is-uppercase price">
                                                    price
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel-block">
                                        <div class="field">
                                            <p class="control amount coin2">
                                                <input class="input" type="text" v-model.number="coin2Amount"
                                                    placeholder="0.00">
                                                <span class="coin is-uppercase">
                                                    {{coin2}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-block">
                                    <button v-if="!wifKey" v-on:click="showLogin" class="button is-warning">
                                        Login to Trade
                                    </button>
                                    <button v-if="wifKey" v-on:click="makeMarketOrder" class="button is-warning">
                                        Make Order
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="column trades-history is-narrow">
                <div class="panel" style="width:400px">
                    <p class="panel-heading">Trades</p>

                    <div class="panel-block">
                        <table id="trade-history-table" class="table  is-narrow is-hoverable is-fullwidth">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <!--<th scope="col">ID</th>-->
                                    <th scope="col"><span class="coin1 is-uppercase">{{coin1}}</span></th>
                                    <th scope="col"><span class="coin2 is-uppercase">{{coin2}}</span></th>
                                    <th scope="col">Rate</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="record in trade_history" v-bind:key="record.tradeID">
                                    <td>{{record.trade_timestamp | timeago }}</td>
                                    <!--<td>{{record.tradeID}}</td>-->
                                    <td>{{record.base_volume | fixedpoint4}}</td>
                                    <td>{{record.quote_volume | fixedpoint4}}</td>
                                    <td>{{record.price | fixedpoint8}}</td>
                                    <td>{{record.type}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

            </div>



        </div>



        <div class="modal login-modal" v-bind:class="{ 'is-active': isLoginActive }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Login</p>
                    <button class="delete" aria-label="close" v-on:click="closeLogin"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" type="text" v-model="wifKey"
                                placeholder="Enter your WIF key">
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-danger" v-on:click="login">Login</button>
                    <button class="button is-white" v-on:click="closeLogin">Proceed without login</button>
                </footer>
            </div>
        </div>


    </div>
    <script src="axios.min.js"></script>
    <script src="vue.js"></script>
    <script src="vue-router.js"></script>
    <script src="highcharts.js"></script>
    <script src="./vueapp/depth-chart.js"></script>
    <script src="./vueapp/global-filters.js"></script>
    <script src="./vueapp/main.js"></script>

</body>

</html>